.main-container {
    width: 100%;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFF;
    color: #fff;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
}

.header-right .add-client-btn {
    padding: 10px 20px;
    background-color: #D7B49E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-right .add-client-btn:hover {
    background-color: #482728;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.client-count p {
    margin: 0;
    font-size: 18px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
}

.table-content {
    padding: 20px;
}

.client-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.client-table thead {
    background-color: #f9fafb;
}

.client-table th, .client-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.client-table th {
    background-color: #f1f3f4;
    font-weight: normal;
}

.client-table tr:nth-child(even) {
    background-color: #f9fafb;
}

.client-table tr:hover {
    background-color: #eef1f5;
}
